.container {
    max-width: 400px;
    margin: 10hv auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(153,153,153,1);
    margin: auto;
    border-radius: 10px;
}

#display {
   display: grid;
   height:70px;
   border: solid 0.5px; 
   text-align: right;
   line-height: 70px;
   padding: 16px 8px;
   font-size: 25px;
    
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 0.5 solid #999;
    line-height: 100px;
    text-align: center;
    height: 400px;
}

#equal{
    background-color: #435ddc;
    color: white;
}

#sign {
    color: #358c13;
    background-color: #73777b5a;
    font-size: 25px;
}

#delete{
    background-color: #d70c24c6;
}

#backspace{
    color: red;
}

.button{
    border-radius: 15px;
    box-shadow: 1px 0px 0px 0px #999;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}

#sign:hover{
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}

#equal:hover{
    background-color: rgba(28, 161, 161, 0.822);
}

